<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png">
  <link rel="icon" type="image/png" href="img/favicon.png">
  <title>
    Project-Sensei
  </title>
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <!-- Nucleo Icons -->
  <link href="/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <!-- CSS Files -->
  <link id="pagestyle" href="/css/material-dashboard.css?v=3.0.0" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
 </head>

<body class="g-sidenav-show bg-gray-200">
  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
    <hr class="horizontal light mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto  max-height-vh-100" id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white " href="/">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">dashboard</i>
            </div>
            <span class="nav-link-text ms-1">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/discussion">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">chat</i>
            </div>
            <span class="nav-link-text ms-1">Discussion Forum</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/chatnotifications">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">notifications</i>
            </div>
            <span class="nav-link-text ms-1">Chat Notifications</span>
          </a>
        </li>
        
        <li class="nav-item mt-3">
          <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Account pages</h6>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/profile">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">person</i>
            </div>
            <span class="nav-link-text ms-1">Profile</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/logout">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">assignment</i>
            </div>
            <span class="nav-link-text ms-1">Log out</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <div class="main-content position-relative bg-gray-100 max-height-vh-100 h-100">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Profile</li>
          </ol>
          <h6 class="font-weight-bolder mb-0">Profile</h6>
        </nav>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid px-2 px-md-4">
      <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
        <span class="mask  bg-gradient-primary  opacity-6"></span>
      </div>
      <div class="card card-body mx-3 mx-md-4 mt-n6">
        <div class="row gx-4 mb-2">
          <div class="col-auto">
            <div class="avatar avatar-xl position-relative">
              <div id="profileImagementee"></div>
            </div>
          </div>
          <div class="col-auto my-auto">
            <div class="h-100">
              <h4 class="mb-1 text-3xl" id="fullName">
                <%=profileobject.name %>
              </h4>
            </div>
          </div>
        </div>
        <!-- profile Information -->
       <div class="row">
         <div class="row">
            <div class="col-12 col-xl-6">
              <div class="card card-plain h-100">
                <div class="card-header pb-0 p-3">
                  <div class="row">
                    <div class="col-md-8 d-flex align-items-center">
                      <h6 class="mb-0 text-2xl">Profile Information</h6>
                    </div>
                    <div class="col-md-4 text-end">
                      <a href="javascript:;">
                        <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Profile"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="card-body" style="padding:15px;">
                  <ul class="list-group">
                    <li class="list-group-item border-0 ps-0 pt-0 text-md"><strong class="text-dark">Full Name:</strong> &nbsp; <%=profileobject.name %></li>
                    <li class="list-group-item border-0 ps-0 text-md"><strong class="text-dark">Mobile:</strong> &nbsp; <%=profileobject.phone %></li>
                    <li class="list-group-item border-0 ps-0 text-md"><strong class="text-dark">Email:</strong> &nbsp; <%=profileobject.email %></li>
                    <li class="list-group-item border-0 ps-0 text-md"><strong class="text-dark">work Profile :</strong> &nbsp; <%=profileobject.work %></li>
                    <li class="list-group-item border-0 ps-0 text-md"><strong class="text-dark">Experience :</strong> &nbsp; <%=profileobject.experience %> year</li>
                    <li class="list-group-item border-0 ps-0 text-md"><strong class="text-dark">Interests:</strong> &nbsp; <%=profileobject.interest %></li>
                    <li class="list-group-item border-0 ps-0 text-md"><strong class="text-dark">Fees :</strong> &nbsp; Rs.200</li>
                    
                    <li class="list-group-item border-0 ps-0 pb-0">
                      <strong class="text-dark text-md">Social:</strong> &nbsp;
                      <a class="btn btn-facebook btn-simple mb-0 ps-1 pe-2 py-0" href="javascript:;">
                        <i class="fab fa-facebook fa-lg"></i>
                      </a>
                      <a class="btn btn-twitter btn-simple mb-0 ps-1 pe-2 py-0" href="javascript:;">
                        <i class="fab fa-twitter fa-lg"></i>
                      </a>
                      <a class="btn btn-instagram btn-simple mb-0 ps-1 pe-2 py-0" href="javascript:;">
                        <i class="fab fa-instagram fa-lg"></i>
                      </a>
                    </li>
                    <br/>
                    <li class="list-group-item border-0 ps-0 pt-0 text-md"> <button type="button" id ="rzp-button" class="btn btn-outline-primary btn-md mb-0 bg-primary" style="color: white;">BOOK NOW</button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-12 col-xl-6 ">
              <div class="card card-plain h-100">
                <img src="data:image/png;base64,<%= profileobject.img.data.toString('base64') %>" alt="img-blur-shadow" class="img-fluid shadow border-radius-xl">
<!-- <img src="img/about-us.jpg" style=" border: 10px solid #da497e;"> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid px-2 px-md-4">
      <div class="page-header min-height-100 border-radius-xl mt-4" >
        <span class="mask opacity-6"></span>
      </div>
      <div class="card card-body mx-3 mx-md-4 mt-n7">
        <div class="row gx-4 mb-2">
          <h6 class="mb-0 text-2xl" style="padding-left: 35px;">Testimonial Section</h6>
        <section style="padding-top: 10px;">
          <div class="container">
            <div class="row">
              <% for (let i =0;i<profileobject.reviews.length;i++) { %>
                <div class="col-lg-3 col-md-8 pt-3">
                  <div class="card bg-gradient-primary">
                    <div class="card-body">
                      <h7 class="mt-0 text-white"><%= profileobject.reviews[i].review %></h7>
                      <div class="author align-items-center mt-2">
                        <div class="name">
                          <p style="margin-bottom: 0;color: rgb(206, 205, 205);"> @<%= profileobject.reviews[i].from %></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% } %>
              <div class="col-lg-3 mb-lg-0 mb-4 me-auto">
                <div class="card h-100">
                  <div class="card-body d-flex flex-column justify-content-center text-center">
                    <a href="javascript:;">
                      <i class="fa fa-plus text-secondary mb-3"></i>
                      <h5 class="text-secondary"> Add Testimonial </h5>
                      <form role="form" class="text-start" action="/addreview/<%=profileobject._id %>" method="POST">
                        <div class="input-group input-group-outline my-3">
                          <input type="text" class="form-control" placeholder="Type a message and reply" name="review" required>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-1" >
                          <button type="submit" class="btn btn-outline-primary btn-sm mb-0" >Add Review</button>
                        </div>
                      </form>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <footer class="footer py-4">
      <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
          <div class="col-12 mb-lg-0 mb-4">
            <div class="copyright text-center text-sm text-muted">
              made with <i class="fa fa-heart"></i> by
              <a class="font-weight-bold" target="_blank">Team Nutella</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  

 <!--   Core JS Files   -->
 <script src="js/core/popper.min.js"></script>
 <script src="js/core/bootstrap.min.js"></script>
 <script src="js/plugins/perfect-scrollbar.min.js"></script>
 <script src="js/plugins/smooth-scrollbar.min.js"></script>
 <script>
   var win = navigator.platform.indexOf('Win') > -1;
   if (win && document.querySelector('#sidenav-scrollbar')) {
     var options = {
       damping: '0.5'
     }
     Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
   }
 </script>
 <!-- Github buttons -->
 <script async defer src="https://buttons.github.io/buttons.js"></script>
 <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
 <script src="/js/material-dashboard.min.js?v=3.0.0"></script>
 <script>
 const fullName = document.getElementById('fullName').textContent;
const intials = fullName.split(' ').map(name => name[0]).join('').toUpperCase();
document.getElementById('profileImagementee').innerHTML = intials;
 </script>


    <!-- Adding payment for booking session or mentor -->
    <script>
      axios.post('/order').then((info)=>{
        console.log(info)
        var options = {
          "key": "rzp_test_DVBH252dUcCnLO", // Enter the Key ID generated from the Dashboard
          "name": "Acme Corp",
          "image": "https://logodix.com/logo/1931223.png",
          "order_id": info.data.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
          "callback_url": "/isordercomplete",
          "theme": {
              "color": "#3399cc"
          }
        };
  
        var rzp=new Razorpay(options);
        document.getElementById('rzp-button').onclick=function(e){
          rzp.open()
          e.preventDefault();
        }
  
      })
    </script>

</body>

</html>
